.hide {
  display: none;
}

.hidden {
  display: none;
}

.title {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url('../images/MainBackground.jpg') no-repeat;
  background-size: cover;
  min-height: 100vh;
}

header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
}

.turing-logo {
  width: 70px;
  height: 70px;
  padding-left: 50px;
  cursor: pointer;
}

.turing-logo:hover {
  filter: brightness(150%);
}

.current-date {
  color: rgb(57, 57, 57);
  position: absolute;
  right: 60px;
  top: 90px;
}

header nav {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px;
}

/* LOGIN SECTION */
.login-form {
  display: flex;
  align-items: center;
}

.login-form input {
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: rgb(111, 110, 111) 0px 5px 20px;
}

.LoginButton,
.LogOutButton {
  margin-right: 30px;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  box-shadow: rgb(111, 110, 111) 0px 15px 40px;
}


.LoginButton:hover {
  filter: brightness(70%);
  background-color: rgb(133, 222, 252);
  color: rgb(255, 255, 255);
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.LogOutButton:hover {
  filter: brightness(120%);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

h2:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* BOXES */
main {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 20px;
}

.LoginBox {
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: rgb(111, 110, 111) 0px 5px 10px;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  backdrop-filter: blur(2px);
  display: block;
  padding: 5px;
}

.LoginBox:hover {
  filter: brightness(145%);
}

.LoginBoxOne {
  grid-row: 2 / 20;
  grid-column: 2 / 10;
  font-size: 20px;
  padding: 70px;
}

.LoginBoxTwo {
  grid-row: 21 / 40;
  grid-column: 2 / 4;
}

.LoginBoxThree {
  grid-row: 21 / 40;
  grid-column: 4 / 6;
}

.LoginBoxFour {
  grid-row: 21 / 40;
  grid-column: 6 / 8;
}

.LoginBoxFive {
  grid-row: 21 / 40;
  grid-column: 8 / 10;
}

.planeImage,
.calcImage,
.memoryImage,
.glassImage {
  font-size: 45px;
}

/* DASH VIEW */
.dashNav {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: rgb(111, 110, 111) 0px 5px 10px;
  border-radius: 10px;
  grid-row: 2 / 40;
  grid-column: 1 / 2;
  padding-left: 10px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.dashContents {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: rgb(111, 110, 111) 0px 5px 10px;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  grid-row: 2 / 40;
  grid-column: 2 / 11;
  font-size: 20px;
  margin-right: 20px;
  padding: 30px;
  text-align: center;
}

.navButs {
  background-color: rgba(168, 166, 166, 0.1);
  border: none;
  color: black;
  padding: 10px;
  margin: 7px;
  margin-top: 25px;
  text-align: center;
  cursor: pointer;
  border-radius: 30px;
  font-size: 19px;
  margin-right: 15px;
  height: 7vh;
}

.greeting {
  animation: fadeIn 2s;
  font-family: "Pacifico", cursive;
  font-size: 60px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.greeting {
  color: #333;
  animation: fadeIn 3s;
}

.navButs:hover {
  background-color: rgba(247, 247, 247, 0.2);
  transform: scale(1.5);
  transition: transform 0.3s ease;
  filter: brightness(120%);
}

/* Home */
.search-button {
  box-shadow: rgb(111, 110, 111) 0px 5px 10px;
  padding: 20px;
  background-color: #236805;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #034e02;
}

.HomeOne,
.HomeTwo {
  background-color: #f5f6f7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  height: 20vh;
}

.expense-details {
  margin-top: 10px;
}

/* Past Trips */
.title-center {
  text-align: center;
  margin-bottom: 20px;
}

.trip-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.trip {
  margin-top: 50px;
  background-color: rgb(225, 224, 224);
  box-shadow: rgb(111, 110, 111) 0px 5px 10px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  flex-grow: 1;
}

.trip:hover {
  filter: brightness(110%)
}

.destination-pic {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Book-a-Trip */
.booking-form {
  margin-top: 50px;
  font-size: 20px;
}

.trip-date,
.duration,
.travelers,
.destinations {
  font-size: 18px;
  font-weight: 400;
  border-radius: 6px;
  border: none;
}

.book-trip-estimate-button,
.book-trip-button {
  margin-top: 20px;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: rgb(111, 110, 111) 0px 5px 10px;
}

.book-trip-estimate-button:hover,
.book-trip-button:hover {
  filter: brightness(125%);
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

/*Pending Trip*/
.pending-trip-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}